.statusMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.restaurantDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  padding: 20px;
}

.imageContainer {
  position: relative;
  width: 50%;
  height: 50%;
  border-radius: 8px;
}

.restaurantImage {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 20%;
}

.restaurantName {
  font-family: "Urbanist", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 33.8px;
  color: #1e232c;
}

.restaurantDetails {
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #515151;
}

@media screen and (max-width: 900px) {
  .imageContainer {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .imageContainer {
    width: 90%;
  }
}
